<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="/segnalazioni" class="nav-link <%= currentPage === 'segnalazioni' ? 'active' : '' %>" aria-current="page">Segnalazioni</a>
        </li>
        <li class="nav-item">
            <a href="/aziende" class="nav-link <%= currentPage === 'aziende' ? 'active' : '' %>">Aziende</a>
        </li>
        <li class="nav-item">
            <a href="/registrazione" class="nav-link <%= currentPage === 'registrazione' ? 'active' : '' %>">Registra Utente</a>
        </li>
        <li class="nav-item">
            <a href="/utente/logout" class="nav-link">Logout</a>
        </li>
    </ul>
</header>