<%- include('partials/header', { currentPage: currentPage, isSupportoTecnico: isSupportoTecnico, nome: nome, email: email, id_web: id_web }) %>

  <h1>404</h1>
  <p>Page not found</p>

  <%- include('partials/footer') %>